
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('profile', user_id=post.user_id) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h5><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h5>
            <p class="article-content">{{ post.content }}</p>
            <img class="post-img"  src="{{ url_for('static', filename='profile_pics/' + post.picture) }}" > 

            {% include "show_comments.html" %}




          </div>
        </article>    
    {% endfor %}



