

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type=text/javascript>
  $(function(){
    $("#add_comment_btn").bind('click',function(e){
      e.preventDefault();
      comment_text=$("#comment_text").val();
      post_id=$("#post_id").val();
      user_id={{ current_user.id }}

      console.log("c = "+comment_text);
      console.log("p = "+post_id);
      console.log("u = "+{{ current_user.id }});
      $.ajax({
        url:"/addComment",
        type:"POST",
        data:{post_id:post_id,comment_text:comment_text,user_id:user_id},
        success: function(response) {
            $("#result1").html(response.res);
        },
        error: function(xhr) {
          $("#result1").html("failure!!!");
        }
      });
    });
  });
</script>

<div class="border-top pt-3">
              <form  class="form-inline">
              {{ formc.postId(value=post.id, id="post_id") }}
              {{ formc.hidden_tag() }}
                

                <div class="form-group mb-2">
                  <img class="rounded-circle article-img" style="height: 40px; width: 40px;" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
                </div>
          
                <div class="form-group mx-sm-3 mb-2" >
                  
                  {{ formc.comment(class="form-control", placeholder="Add comment...", style="border-radius: 50px; outline-width: 0;", id="comment_text") }}
      
                </div>
            
                <div class="form-group" >
                  {{ formc.submit(class="btn btn-outline-info", style="border-radius: 50px; outline-width: 0;", id="add_comment_btn") }}
                </div>
                <div id=result1></div>
              </form>
            </div>
         


            <!-- PRINTS COMMENT -->
            
            {% for comment in post.id|getComments %}
                    <div class="border-top pt-3">
                      <img class="rounded-circle article-img" style="height: 40px; width: 40px;" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                      <a class="mr-2" href="#">{{ current_user }}</a>
                      <p>{{ comment.comment }}</p>
                    </div>
            {% endfor %}
